* {
    margin: 0;
    padding: 10px;
}
body {
    background-color: #ddd;
}
.elevator-panel {
    margin: 0px auto;
    background-color: #aaa;
    height: 870px;
    width: 95%;
    margin-top: 10px;
}
.screen {
    margin: 0px auto;
    width: 60%;
    margin-top: 80px !important;
    height: 250px;
    background-color: royalblue;
}

.speaker {
    margin: 0px auto;
    height: 100px;
    margin-top: 5px;
    background-image: url('../images/speaker.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 60%;
}

/* Screen Resolution */
@media screen and (min-width:1000px) {
    .elevator-panel {
        width: 98% !important;
        margin: 10px;
        height: 680px;
    }
    * {
        padding: 0;
    }
}
